{% extends 'base.html' %}
{% load static %}
{% block content %}
<!****banner code ****>


<div class="container">
     <div class="row">
         <div class="col-md-12">
         <form method="POST" class="p-3 shadow">
            {% csrf_token %}
          <div class="form-group">
     <input type="text" class="form-control" name="sl_no"  placeholder="Enter sl_no">
</div>
<br>
<div class="form-group">
     <input type="text" class="form-control" name="item_name" placeholder="Enter the item_name">
</div><br>

<div class="form-group">
     <input type="text" class="form-control" name="description"  placeholder=" Enter description">
</div><br>

    <input type="submit" class="btn btn-success">
        </form>


<br>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="container">   
<div class="table-title">
<h3 style="color: rgb(70, 65, 65);">Data Table</h3>
</div>

<table  class="table-fill">
<thead>
    {% for i in task1 %}  
<tr>
<th class="text-left">sl_no</th>
<th class="text-left">name</th>
<th class="text-left">description</th>
<th class="text-left">action</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">{{i.sl_no}}</td>
<td class="text-left">{{i.item_name}}</td>
<td class="text-left">{{i.description}}</td>
<td class="text-left">
    <a class="btn btn-danger" href="{% url 'delete' i.id %}">delete</a>
    
    <a class="btn btn-success" href="{% url 'update' i.id %}">update</a></td>
    {% endfor %}
</tbody>
</table>
</div>
  

  </body>
       <!-- </div>
           <div class="col-md-6">
               <h4>{% for i in task1 %}</h4>
              <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.sl_no}}</h5>
                    <p><b>{{i.item_name}}</b></p>
                    <p><b>{{i.description}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">delete</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>
                </div>
           </div>
            <br>
           {% endfor %}
       </div> -->
    </div>
</div>





{% endblock %}

